In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('main.db')

In [ ]:
authors_df = pd.read_csv('authors.csv')
authors_df.to_sql('authors_raw', conn, if_exists = 'replace')
display(authors_df)

papers_df = pd.read_csv('papers.csv')
papers_df.to_sql('papers_raw', conn, if_exists = 'replace')
display(papers_df)

       source_id first_name    last_name                     institution
0             27       Alan       Murray                             NaN
1             27    Anthony        Smith                             NaN
2             27        Zoe       Butler                             NaN
3             63      Yaser  Abu-Mostafa                             NaN
4             60    Michael     Fleisher                             NaN
...          ...        ...          ...                             ...
30232       8693     Joshua         Wang                          Google
30233       2302       Ruho        Kondo  Toyota Central R&D Labs., Inc.
30234       2302    Keisuke       Kawano   Toyota Central R&D Labs., Inc
30235       2302    Satoshi        Koide        Toyota Central R&D Labs.
30236       2302     Takuro      Kutsuna   Toyota Central R&D Labs. Inc.

[30237 rows x 4 columns]

,source_id,year,title,abstract,full_text
0,27,1987,Bit-Serial Neural Networks,NaN,573 \n\nBIT - SERIAL NEURAL NETWORKS \n\nAlan...
1,63,1987,Connectivity Versus Entropy,NaN,1 \n\nCONNECTIVITY VERSUS ENTROPY \n\nYaser S...
2,60,1987,The Hopfield Model with Multi-Level Neurons,NaN,278 \n\nTHE HOPFIELD MODEL WITH MUL TI-LEVEL N...
3,59,1987,How Neural Nets Work,NaN,442 \n\nAlan Lapedes \nRobert Farber \n\nThe...
4,69,1987,Spatial Organization of Neural Networks: A Pro...,NaN,740 \n\nSPATIAL ORGANIZATION OF NEURAL NEn...
...,...,...,...,...,...
9675,5452,2019,Discrete Object Generation with Reversible Ind...,The success of generative modeling in continuo...,Discrete Object Generation\n\nwith Reversible ...
9676,4799,2019,Adaptively Aligned Image Captioning via Adapti...,Recent neural models for image captioning usua...,Adaptively Aligned Image Captioning via\n\nAda...
9677,1827,2019,Fully Dynamic Consistent Facility Location,We consider classic clustering problems in ful...,Fully Dynamic Consistent Facility Location\n\n...
9678,8693,2019,Efficient Rematerialization for Deep Networks,"When training complex neural networks, memory ...",Efﬁcient Rematerialization for Deep Networks\n...
9679,2302,2019,Flow-based Image-to-Image Translation with Fea...,Learning non-deterministic dynamics and intrin...,Flow-based Image-to-Image Translation\n\nwith ...